body {
    text-align: center;
}

#heart1, #heart2, #heart3 {
  visibility: visible;
}

#winModal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 200px;
  background-color: white;
}

#loseModal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 200px;
  background-color: red;
}

#winModalContent {
  padding-top: 50px;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#loseModalContent {
  padding-top: 50px;
  color: white;
  font-size: 30px;
  font-family: arial, sans-serif;
}
